<!--
<div> Icons made by <a href="https://www.freepik.com" title="Freepik"> Freepik </a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com'</a></div>
-->

<footer class="d-flex flex-wrap justify-content-between align-items-center p-4 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
        <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
            <img src="/img/electricat.png" height="24" alt="gato negro">
        </a>
        <span class="text-muted">© 2021 Electricat, Inc</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li class="ms-4"><a target="_blank" class="text-muted" href="https://github.com/Andres-Fernandez-Caballero/servicios-bael"><i class="fab fa-github"></i>GitHub</a></li>
    </ul>
</footer>